.App {
    text-align: center;
  }
  
  @font-face {
    font-family: 'Andale';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ANDALEMO.TTF');
  }
  
  .App-header {
    background-color: #040404;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Andale;
  }
  
  .App-header > *{
    position: absolute;
  }
  .title {
    color: #B48C36;
    top: 15vmax;
    font-size: calc(100px + 2vmin);
  }
  
  .subtitle1 {
    color: #B48C36;
    top: 33vmax;
    left: 33vw;
    font-size: calc(20px + 2vmin);
    text-decoration: none;
  }
  .subtitle2 {
    color: #B48C36;
    top: 30.3vmax;
    left: 50vw;
    font-size: calc(20px + 2vmin);
  }
  .subtitle3 {
    color: #B48C36;
    top: 33vmax;
    left: 55vw;
    font-size: calc(20px + 2vmin);
    text-decoration: none;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  